.sumario{
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 40px;
    color: var(--cor-secundaria-01);
}
.sumario img{
    max-width: 800px;
    max-height: 400px;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 20px rgba(24, 106, 106, 0.17);
}
.sumario h1{
    font-size: 2.25em;
    color: #f3f3f3;
    margin-bottom: 35px;
}
.sumario p{
    font-size: 1.25em;
    line-height: 150%;
    margin-bottom: 30px;
}
.sumario a{
    margin-right: 10px;
}
@media (max-width:1200px){
    .sumario img{
        max-width: 600px;
        max-height: 300px;
    }
    .sumario h1{
        font-size: 2em;
        margin-bottom: 25px;
    }
    .sumario p{
        font-size: 1.1em;
        line-height: 150%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px){
    .sumario img{
        max-width: 400px;
        max-height: 200px;
    }
    .sumario h1{
        font-size: 1.6em;
        margin-bottom: 20px;
    }
    .sumario p{
        font-size: 1em;
        line-height: 150%;
    }
    .sumario a{
        font-size: 1.1em;
        padding: 10px 15px;
    }
}
@media (max-width:400px){
    .sumario{
        padding: 10px;
    }
    .sumario img{
        max-width: 250px;
        max-height: 200px;
        margin: 15px auto;
    }
    .sumario h1{
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    .sumario a{
        font-size: 1em;
        margin-right: 5px;
    }
}
/* Fim Sumário */
.lista-ep{
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--cor-secundaria-02);
}
.lista-ep img{
    padding: 4px;
}
.lista-ep img:hover{
    border-radius: 4px;
    background-color: var(--cor-principal-04);
}
.lista-titulo{
    display: flex;
    gap: 6px;
    font-size: 1.3em;
    padding: 45px;
    background-color:#0D0D0D;
}
.episodio:nth-child(even){
    background-color: #191919;
}
.episodio:nth-child(odd){
    background-color: #0D0D0D;
}
.episodio{
    font-size: 1.1em;
    line-height: 150%;
    padding: 45px;
}
.episodio p{
    max-width: 900px;
}
.vermais{
    text-align: center;
    padding-top: 10px;
}
@media (max-width: 600px){
    .lista-ep{
        margin: 20px auto;
        padding: 0px;
    }
    .lista-titulo{
        font-size: 1.2em;
        padding: 25px;
    }
    .episodio{
        font-size: 1em;
        line-height: 150%;
        padding: 25px;
    }
}
