*{
    margin: 0px;
    padding: 0px;
    --cor-fundo: #242424;
    --cor-principal-01: #054242;
    --cor-principal-02: #1CAEAE;
    --cor-principal-03: #015958;
    --cor-principal-04: #186A6A;
    --cor-principal-05: #000D0D;
    --cor-principal-06: #0F2424;

    --cor-secundaria-01: #D9D9D9;
    --cor-secundaria-02: #F6F6F6;
    --cor-secundaria-03: #eaeeeb;
    --cor-secundaria-04: #C7C7C7;
    --cor-secundaria-05: #7D7D7D;
    --cor-secundaria-06: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--cor-fundo);
}
img{
    display: block;
    margin: 0;
}
.botao{
    font-size: 1.2rem;
    line-height: 1.1rem;
    text-decoration: none;
    padding: 14px 10px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(to top, var(--cor-secundaria-01), var(--cor-secundaria-02));
    color: var(--cor-principal-01);
    box-sizing: border-box;
}
.botao:hover{
    background: linear-gradient(to top, var(--cor-secundaria-02), var(--cor-secundaria-01));
    transition: 0.5s;
    
}