.menu-bg{
    background-color: var(--cor-principal-01);
    width: 100%;
}
.menu{
    max-width: 1400px;
    padding: 32px 140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-interacao{
    display: flex;
    gap: 60px;
}
@media (max-width:1060px){
    header .botao{
        display: none;
    }  
}
@media (max-width:850px){
    .menu{
        flex-wrap: wrap;
        gap: 25px;
        padding: 16px 60px;
    }
}
@media (max-width:700px){
    .menu{
        justify-content: center;
        padding: 20px 20px;
    }
    .menu-interacao{
        display: flexbox;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}
.buscar{
    display: flex;
    align-items: center;
}
.lupa{
    background-color: var(--cor-secundaria-01);
    border-radius: 4px 0px 0px 4px;
    height: 40px;
}
.lupa img{
    height: 30px;
}
#barra-busca{
    display: block;
    box-sizing:border-box;
    background-color: var(--cor-secundaria-01);
    border: none;
    outline: none;
    border-radius: 0px 4px 4px 0px;
    height: 40px;
    padding: 5px;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: var(--cor-principal-01);
}
#barra-busca:focus{
    background-color: var(--cor-secundaria-02);
}
.menu-hamb{
    padding: 5px 10px;
}
.menu-hamb:hover{
    border-radius: 20%;
    background-color: var(--cor-principal-03);
}
