.carrossel-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    max-height: 400px;
    padding: 32px 90px;
    margin: 0 auto;
    gap: 50px;
    color: var(--cor-secundaria-01);
}
.carrossel-principal a{
    display: block;
    height: 100%;
}
.img-carrossel{
    display: block;
    width: 100%;
    margin: 0px;
    border-radius: 4px;
}
.texto-principal{
    max-width: 600px;
    min-width: 320px;
}
.carrossel-principal h1{
    font-size: 2.25em;
    margin-bottom: 20px;
}
.carrossel-principal p{
    font-size: 1.25em;
    line-height: 150%;
    margin-bottom: 10px;
    word-break: break-all;
}

@media (max-width: 1280px){
    .carrossel-principal{
        display: flex;
        gap: 30px;
        align-items: center;
        padding: 20px 40px;
    }
  
    .texto-principal h1{
        font-size: 2em;
    }
    .texto-principal p{
        font-size: 1.125em;
    }
}
@media (max-width:1100px){
    .carrossel-principal{
        gap: 20px;
        align-items: center;
        padding: 20px 30px;
    }
    .texto-principal h1{
        font-size: 1.8em;
    }
    .texto-principal p{
        font-size: 1.1em;
    }
}
@media (max-width:1000px) {
    .carrossel-principal{
        display: flex;
        flex-direction: column;
    }
    .img-principal{
        max-width: 70%;
    }

}

@media (max-width:800px){
    .carrossel-principal{
        gap: 20px;
        align-items: center;
        padding: 20px 30px;
    }
    .texto-principal h1{
        font-size: 1.5em;
    }
    .texto-principal p{
        font-size: 1em;
    }
}
@media (max-width: 400px){
    .carrossel-principal{
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px 25px;
    }
    .carrossel-principal img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 5px;
    }
    .carrossel-principal h1{
        font-size: 1.3em;
        margin-bottom: 8px;
    }
    .carrossel-principal p{
        max-width: 60ch;
        font-size: 0.98em;
        line-height: 150%;
        margin-bottom: 10px;
    }
}